In [45]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn import tree
%matplotlib inline
from sklearn.model_selection import cross_val_score

In [106]:
test_data = pd.read_json('set.txt')
test_data= test_data.rename(columns={'Лазает по деревьям' :'Лазает_по_деревьям'})
X_test = test_data
test_data

    Длина  Высота  Шерстист  Гавкает  Лазает_по_деревьям
0      18    21.6         1        0                   0
1      27    32.4         1        0                   0
2      15    18.0         1        0                   0
3      23    27.6         1        1                   0
4      31    37.2         1        1                   0
..    ...     ...       ...      ...                 ...
95     10     4.0         1        0                   1
96      6     2.4         0        0                   1
97      7     2.8         1        0                   1
98      7     2.8         1        0                   1
99      7     2.8         1        0                   1

[100 rows x 5 columns]

In [107]:
train_data = pd.read_csv('dogs_n_cats.csv')
train_data = train_data.rename(columns={'Лазает по деревьям' :'Лазает_по_деревьям'})
train_data.Вид = np.where(train_data.Вид == 'собачка', 0, train_data.Вид) 
train_data.Вид = np.where(train_data.Вид == 'котик', 1, train_data.Вид) 
train_data.head()

   Длина  Высота  Шерстист  Гавкает  Лазает_по_деревьям Вид
0     15    18.0         1        1                   0   0
1     20    24.0         1        0                   0   0
2     34    40.8         1        1                   0   0
3     26    31.2         1        1                   0   0
4     16    19.2         1        1                   0   0

In [108]:
train_data.isnull().sum()

Длина                 0
Высота                0
Шерстист              0
Гавкает               0
Лазает_по_деревьям    0
Вид                   0
dtype: int64

In [109]:
X_train = train_data.drop(['Вид'], axis=1)
X_train

     Длина  Высота  Шерстист  Гавкает  Лазает_по_деревьям
0       15    18.0         1        1                   0
1       20    24.0         1        0                   0
2       34    40.8         1        1                   0
3       26    31.2         1        1                   0
4       16    19.2         1        1                   0
..     ...     ...       ...      ...                 ...
995      8     3.2         1        0                   1
996      7     2.8         1        0                   1
997      6     2.4         1        0                   1
998      7     2.8         1        0                   1
999     11     4.4         1        0                   1

[1000 rows x 5 columns]

In [110]:
y_train = train_data.Вид
y_train = y_train .astype('int')
y_train

0      0
1      0
2      0
3      0
4      0
      ..
995    1
996    1
997    1
998    1
999    1
Name: Вид, Length: 1000, dtype: int64

In [111]:
clf = tree.DecisionTreeClassifier(criterion='entropy', max_depth=5)
clf.fit(X_train, y_train)

DecisionTreeClassifier(criterion='entropy', max_depth=5)

In [113]:
res2 = clf.predict(X_test)

In [114]:
res2

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1])

In [115]:
 np.count_nonzero(res2==0)

49

In [116]:
len(res2)

100

In [117]:
np.count_nonzero(res2==1)

51